<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商城管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <script src="../../static/layui/layui.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">商城系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="../../static/layui/images/face/34.gif" class="layui-nav-img">
                    【
                    <shiro:principal property="username"></shiro:principal>
                    】
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree " id="nav-tree" lay-shrink="all" lay-filter="test">
                <li th:each="permission:${permissions}" class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;" th:text="${permission.name}"></a>
                    <dl class="layui-nav-child">
                        <dd th:each="childe:${permission.childes}"><a target="menu" th:href="${childe.url}"
                                                                      th:text="${childe.name}">添加商品</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">权限管理</a>-->
                <!--<dl class="layui-nav-child">-->
                <!--<dd><a target="menu" href="/mall/user/index">添加用户</a></dd>-->
                <!--<dd><a target="menu" href="/mall/role/index">添加角色</a></dd>-->
                <!--<dd><a target="menu" href="/mall/permissions/index">添加资源</a></dd>-->
                <!--</dl>-->
                <!--</li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="height: 100%">
            <iframe id="menu" name="menu" src="/content" width="100%" height="99%" style="overflow: visible;"
                    scrolling="no" frameborder="no"></iframe>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © ruanyuanyuan.cn
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['element', 'jquery'], function () {
        var element = layui.element;

    });
</script>
</body>
</html>