<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ruan.yuanyuan.dao.UserMapper">

    <select id="findUserByName" resultType="com.ruan.yuanyuan.entity.User">
        SELECT
        id,
        username,
        password,
        CASE WHEN status = '0' THEN '可以登录' WHEN status = '1' THEN '禁止登录' END AS status
        FROM yy_user
        WHERE username=#{name}
    </select>


    <select id="findAllUser" resultType="com.ruan.yuanyuan.entity.User">
        SELECT
        id,
        username,
        password,
        CASE WHEN status = '0' THEN '可以登录' WHEN status = '1' THEN '禁止登录' END AS status
        FROM yy_user
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into yy_user(username, password,status)values
        (#{user.username,jdbcType=VARCHAR},#{user.password,jdbcType=VARCHAR},#{user.status,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteUser">
        delete from yy_user where id=#{id}
    </delete>
</mapper>