<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ruan.yuanyuan.dao.UserMapper">

    <select id="findAll" resultType="com.ruan.yuanyuan.vo.UserVo">
        SELECT
            yu.id,
            yu.username,
            yu.password,
            yu.status,
            yu.type,
            CASE WHEN yu.status = '1' THEN '允许登录' WHEN yu.status = '2' THEN '禁止登录'  END AS statusName,
            CASE WHEN yu.type = '1' THEN '管理员' WHEN yu.type = '2' THEN '普通用户' END AS typeName,
            DATE_FORMAT(yu.create_time,'%Y-%m-%d %h:%i:%s') AS createTime,
            yu.create_by AS createBy,
            yurr.role_id AS roleId,
            yr.name AS roleName
        FROM yy_user yu
        LEFT JOIN yy_user_role_ref yurr ON yu.id=yurr.user_id
        LEFT JOIN yy_role yr ON yr.id = yurr.role_id
        WHERE yu.is_valid='Y' AND yu.is_valid='Y' ORDER BY yu.create_time
    </select>


</mapper>