<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商城系统</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.all.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md-offset4" style="margin-top: 20%;">
            <form class="layui-form" method="post">
                <div class="layui-form-item layui-col-md6">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-block">
                        <input type="text" id="username" name="username" required placeholder="请输入用户名"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md6">
                    <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="password" name="password" required placeholder="请输入密码"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md-offset2 layui-col-md6">
                    <button class="layui-btn" type="button" onclick="onSubmit()">登录</button>
                    <button class="layui-btn" type="button" onclick="registered()">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>

    /**
     * 跳转注册
     */
    function registered() {
        layer.msg('注册页面');
    }

    /**
     * 提交注册信息
     */
    function onSubmit() {
        $.ajax({
            type: "POST",
            url: "login",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                "username": $("#username").val(),
                "password": $("#password").val()
            }),
            success: function (data) {
                if (data.code === 0) {
                    window.location.href = "/index";
                } else {
                    layer.msg(data.msg);
                }
            }
        });
    }


</script>
</html>