<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ruan.yuanyuan.mybatis.mapper.UserMapper">
    <select id="findUserByName" resultType="com.ruan.yuanyuan.mybatis.mapper.User">
        SELECT
        id,
        username,
        password,
        CASE WHEN status = '0' THEN '可以登录' WHEN status = '1' THEN '禁止登录' END AS status
        FROM yy_user
        WHERE username=#{name}
    </select>
</mapper>