<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ruan.yuanyuan.dao.OrderDetailMapper">

    <select id="findByOrderId" resultType="com.ruan.yuanyuan.vo.OrderDetailVo">
        SELECT id,id_product AS idProduct,name,num,price,total_price AS totalPrice FROM yy_order_detail WHERE
        id_order=#{orderId}
    </select>

    <insert id="add">
        INSERT INTO yy_order_detail(id_product,id_order,name,num,price,total_price,create_time,is_valid)VALUES
        <foreach collection="orderDetails" item="item" index="index" separator=",">
            (
            #{item.idProduct},
            #{item.idOrder},
            #{item.name},
            #{item.num},
            #{item.price},
            #{item.totalPrice},
            #{item.createTime},
            #{item.isValid}
            )
        </foreach>
    </insert>
</mapper>