<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ruan.yuanyuan.dao.PermissionsMapper">

    <select id="findById" resultType="com.ruan.yuanyuan.entity.Permissions">
        select
           id,
           name,
           url,
           parent_id as parentId
        from yy_permissions where id=#{id}
    </select>


    <select id="findAll" resultType="com.ruan.yuanyuan.entity.Permissions">
        select
           id,
           name,
           url,
           parent_id as parentId
        from yy_permissions
    </select>

    <delete id="deletePermissionsById">
        delete from yy_permissions where id=#{id}
    </delete>

    <insert id="add">
        insert into yy_permissions(name,url,parent_id,resource_type)values (#{permissions.name},#{permissions.url},#{permissions.parentId},#{permissions.resourceType})
    </insert>

    <select id="findAllPermissionsByParentId" resultType="com.ruan.yuanyuan.entity.Permissions">
        select
           id,
           name,
           url,
           parent_id as parentId
        from yy_permissions where parent_id=#{parentId}
    </select>

    <select id="findPermissionsByUserId" resultType="com.ruan.yuanyuan.vo.PermissionsVo">
        select
            yp.id,
            yp.parent_id as parentId,
            yp.name,
            yp.url
        from yy_user_role_ref yurr inner join yy_role_permissions_ref yrpr on yurr.role_id=yrpr.role_id
        inner join yy_permissions yp on yp.id=yrpr.permissions_id
        where yurr.user_id=#{userId}
    </select>


    <select id="findPermissionsByRoleId" resultType="com.ruan.yuanyuan.vo.PermissionsVo">
        SELECT
        yps.parent_id AS parentId,
        yps.parent_ids AS parentids,
        yps.permission,
        yps.resource_type AS resourceType,
        yps.url,
        yps.name
        FROM yy_permissions yps LEFT JOIN yy_role_permissions_ref yrpr ON yps.id = yrpr.permissions_id
        WHERE 1=1 AND yps.is_valid='Y' AND yrpr.role_id IN
        <foreach collection="roles" index="index" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </select>
</mapper>