<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ruan.yuanyuan.dao.PermissionsRoleMapper">

    <delete id="deletePermissionsRoleById">
        delete from yy_role_permissions_ref where id=#{id}
    </delete>

    <insert id="add">
        insert into yy_role_permissions_ref(permissions_id,role_id)values (#{permissionsId},#{roleId})
    </insert>

</mapper>