<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ruan.yuanyuan.dao.ProductMapper">

    <select id="findAll" resultType="com.ruan.yuanyuan.vo.ProductVo">
        SELECT id,name,inventory,DATE_FORMAT(create_Time,'%Y-%d-%m %H:%m:%s') AS createTime,price FROM yy_product
    </select>

    <insert id="add">
        INSERT INTO yy_product(name,inventory,create_time,price,is_valid)
        VALUE (#{productVo.name},#{productVo.inventory},#{productVo.createTime},#{productVo.price},#{productVo.isValid})
    </insert>

    <update id="deleteById">
        UPDATE yy_product SET is_valid='N' WHERE id=#{id}
    </update>
</mapper>