<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ruan.yuanyuan.dao.RoleMapper">

    <select id="findRoleById" resultType="com.ruan.yuanyuan.entity.Role">
        select
           id,
           name,
           code
        from yy_role where id=#{id}
    </select>


    <select id="findAll" resultType="com.ruan.yuanyuan.entity.Role">
        select
           id,
           name
        from yy_role
    </select>


    <delete id="deleteRoleById">
        delete from yy_role where  id=#{id}
    </delete>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into yy_role(name,code)values (#{role.name},#{role.code})
    </insert>

</mapper>